<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="static/img/logo.png">
        <link rel="stylesheet" href="static/css/styles.css">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>The Amateur Scientist | TAS</title>
    </head>
    <body>
        <div id="particles-js"></div>

        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="/home" class="nav__logo"><img src= "static/img/logo-1.png"></a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="/home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="/events" class="nav__link">Events</a></li>
                        <li class="nav__item"><a href="/sched" class="nav__link">Schedule</a></li>
                        <li class="nav__item"><a href="/gallery" class="nav__link">Gallery</a></li>
                        <li class="nav__item"><a href="/about" class="nav__link">About PESU</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title"><br>Registration Links<span class="home__title-color"></span><br></h1>
                    <p class="about__text" style="font-size:1.5rem">Please Use the appropriate links to register yourself for the event</p>
                    <a href="https://forms.gle/gF9jaTbhVLi9SKEJ7" class="button" style="margin-top:65px">Teacher</a>          
                    <a href="https://forms.gle/1Rwu99Zcgyjsy7pi7" class="button" style="margin-top:65px">Student</a>
                    <div>
               </main>
        <!--===== FOOTER =====-->
        <footer class="footer"style="margin-top:100%">
            <div class="footer__copy"><a href="/events">EVENTS</div>
            <div class="footer__copy"><a href="/about">ABOUT US</div>
            <div class="footer__copy"><a href="">FOLLOW US</div>
            <div class="footer__copy"><a href="/findus">FIND US</div>
</footer>



        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="static/js/main.js"></script>
        <script src="static/js/particles.js"></script>
        <script src="static/js/app.js"></script>
    </body>
</html>

